<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <h1>this is new about section</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit eius dolor ex doloremque nesciunt minus soluta, autem inventore sed? Reprehenderit, ab iusto eum pariatur corporis soluta beatae qui sint blanditiis. Officiis magni quia harum similique rerum totam corporis quod asperiores odio, saepe, ex reiciendis dolore adipisci magnam inventore laudantium facilis.</p>
    </section>
</body>
</html>