<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example</title>
    <link rel="stylesheet" href="" th:href="@{/css/mystyle.css}" />
</head>
<body>
    <div class="container">
        <img src="" class="profile" th:src="@{/image/profile.jpg}" alt="">
        <h1>Adding CSS , Javascript and Image in thymeleaf</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint magni ducimus debitis deserunt officiis totam accusamus voluptatem incidunt eius assumenda vitae, voluptas necessitatibus hic impedit, sunt provident nemo enim accusantium consequatur natus quidem facilis. In molestiae, temporibus eos nihil tenetur repellendus sit cum blanditiis labore unde commodi culpa assumenda voluptatem?
        </p>

    </div>

    <script src="" th:src="@{js/myjs.js}"></script>
</body>
</html>